extends layout

block content
  p
  | The goal of this website is to provide an easy-to-use archive of the
  | Richard M. Nixon administration’s “White House Tapes” for scholars and
  | researchers. Several years ago, the National Archives released&nbsp
  a(href="https://www.archives.gov/open/nixon/37-wht-dataset-conversationlist.html") metadata
  |  of all 22,723 conversations that have been cataloged from the 949 labelled
  | tapes. In combination with MP3 files of the conversations that have been
  | released into the public domain by the Richard M. Nixon Presidential
  | Library and by the Miller Center at the University of Virginia, it was
  | possible to set up a basic archive of the audio of the tapes.

  p
  | Since some of the individual conversations have never been spliced from
  | the audio files of the full tapes (which have been divided into two-hour
  | sections), where possible, I also scraped and offered the start and end
  | times for the individual conversations from spreadsheets that the Nixon
  | Library has provided. However, in some cases, those spreadsheets were not
  | available, and even when the start and end times are known, it can
  | sometimes be a bit of an exercise to add up the times and locate the
  | conversation within the tapes that are divided into segments. A long-term
  | goal should be to have all conversations spliced into easy-to-use MP3
  | files, and we may want to crowdsource this if it is not a priority for NARA
  | or the Nixon Library. For now, however, for some conversations, researchers
  | will need to spend some time locating the start and end points.

  p
  | Of course, for many people, having transcripts of the tapes will be more
  | useful than having the audio, and I encourage readers to obtain the volumes
  | that result from the&nbsp
  a(href="http://lukenichter.com/books.htm") painstaking efforts of Douglas Brinkley and Luke Nichter
  |. I do think that it will be in the interest of researchers to have
  | the full tape transcriptions in the public domain some day, but that would
  | require a good amount of funds and labor. If you are interested in
  | brainstorming about how such an effort could be achieved, please contact
  | Todd Fine at tdfine@gmail.com.

  p
  | The developer of this website, Todd Fine, is a Ph.D. student at the&nbsp
  a(href="https://www.gc.cuny.edu/home") Graduate Center of the City University of New York
  | . This project was initiated as a
  | part of his coursework with K.C. Johnson. Todd Fine is working on a
  | dissertation on Cold War intellectual history. He is also the founder of
  | the Washington Street Historical Society and has been advocating for a
  | memorial in Lower Manhattan for the writers of the “Little Syria”
  | neighborhood.
