extends layout

block content
  form(method='POST', action='https://formspree.io/tdfine@gmail.com')
    h2 Message the developer, Todd Fine, through email at tdfine@gmail.com or by phone at +1 857-234-0920.