extends layout

block content
  div(id="search")
    h2 Search by Text and Participant
    form(action="/tapes/")
      input(type="text", name="search_field")
      input(type="submit")
    h2 Select Frequent Participant
    form(action="/tapes/")
      include option.html
      input(type="submit" value="Submit")

    h2 Select Date Range
    input(type="text", name="daterange", value="01/01/1971 - 12/31/1973", size="30")
    script.
      $('input[name="daterange"]').daterangepicker({
        opens: 'center'
        }, function(start, end, label) {

          var query = {
            startDateTime: start.format('MM/DD/YYYY'),
            endDateTime: end.format('MM/DD/YYYY')
          };

          var queryString = Object.keys(query).map(key => key + '=' + query[key]).join('&');
          window.location.replace("/tapes/?" + queryString);

        });
    h2 Select Specific Tape and/or Conversation
    form(action="/tapes/")
      p
      | Tape:
      input(type="number" name="tapenum" min="1" max="949")
      | &nbspConversation:
      input(type="number" name="conversationnum" min="1" max="250")
      | &nbsp
      input(type="submit")

    br
