extends layout

block content
  div(id="search")
    h2 Search by Text
    form(action="/tapes/")
      input(type="text", name="search_field")
      input(type="submit")
    h2 Search by Date
    input(type="text", name="daterange", value="04/07/1971 - 06/15/1973", size="30")
    script.
      $('input[name="daterange"]').daterangepicker({
        opens: 'center'
        }, function(start, end, label) {

          var query = {
            startDateTime: start.format('MM/DD/YYYY'),
            endDateTime: end.format('MM/DD/YYYY')
          };

          var queryString = Object.keys(query).map(key => key + '=' + query[key]).join('&');
          window.location.replace("/tapes/?" + queryString);

        });
    br
    br
    img(src="/images/Tape_recorder.jpg")
