doctype html
html
  head
    title Nixon Tapes
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  body
    .topnav
      a.active(href='/') Easy Nixon
      a(href='/contact') Contact
      a(href='/about') About

    block content
