<select name="name_field">
<option value="Nixon, Richard M. (President)">Nixon, Richard M. (President)</option>
<option value="White House operator">White House operator</option>
<option value="Bull, Stephen B.">Bull, Stephen B.</option>
<option value="Haldeman, H. R. (&quot;Bob&quot;)">Haldeman, H. R. (&quot;Bob&quot;)</option>
<option value="Sanchez, Manolo">Sanchez, Manolo</option>
<option value="Kissinger, Henry A.">Kissinger, Henry A.</option>
<option value="Ziegler, Ronald L.">Ziegler, Ronald L.</option>
<option value="Butterfield, Alexander P.">Butterfield, Alexander P.</option>
<option value="Colson, Charles W.">Colson, Charles W.</option>
<option value="Ehrlichman, John D.">Ehrlichman, John D.</option>
<option value="Woods, Rose Mary">Woods, Rose Mary</option>
<option value="Haig, Alexander M., Jr.">Haig, Alexander M., Jr.</option>
<option value="Shultz, George P.">Shultz, George P.</option>
<option value="Eisenhower, Julie Nixon">Eisenhower, Julie Nixon</option>
<option value="Connally, John B.">Connally, John B.</option>
<option value="Nixon, Thelma C. (&quot;Pat&quot;) (Ryan)">Nixon, Thelma C. (&quot;Pat&quot;) (Ryan)</option>
<option value="Rogers, William P.">Rogers, William P.</option>
<option value="Cox, Tricia Nixon">Cox, Tricia Nixon</option>
<option value="Timmons, William E.">Timmons, William E.</option>
<option value="Mitchell, John N.">Mitchell, John N.</option>
<option value="MacGregor, Clark">MacGregor, Clark</option>
<option value="Price, Raymond K., Jr.">Price, Raymond K., Jr.</option>
<option value="Flanigan, Peter M.">Flanigan, Peter M.</option>
<option value="Ford, Gerald R.">Ford, Gerald R.</option>
<option value="Cole, Kenneth R., Jr.">Cole, Kenneth R., Jr.</option>
<option value="Buchanan, Patrick J.">Buchanan, Patrick J.</option>
<option value="Acker, Marjorie P.">Acker, Marjorie P.</option>
<option value="Agnew, Spiro T. (Vice President)">Agnew, Spiro T. (Vice President)</option>
<option value="Rebozo, Charles G. (&quot;Bebe&quot;)">Rebozo, Charles G. (&quot;Bebe&quot;)</option>
<option value="Laird, Melvin R.">Laird, Melvin R.</option>
<option value="Scott, Hugh">Scott, Hugh</option>
<option value="Stein, Herbert">Stein, Herbert</option>
<option value="Richardson, Elliot L.">Richardson, Elliot L.</option>
<option value="Bush, George H. W.">Bush, George H. W.</option>
<option value="Safire, William L.">Safire, William L.</option>
<option value="Atkins, Oliver F. (&quot;Ollie&quot;)">Atkins, Oliver F. (&quot;Ollie&quot;)</option>
<option value="Weinberger, Caspar W. (&quot;Cap&quot;)">Weinberger, Caspar W. (&quot;Cap&quot;)</option>
<option value="Scowcroft, Brent G. (Gen.)">Scowcroft, Brent G. (Gen.)</option>
<option value="Klein, Herbert G.">Klein, Herbert G.</option>
<option value="Peterson, Peter G.">Peterson, Peter G.</option>
<option value="Buzhardt, J. Fred, Jr.">Buzhardt, J. Fred, Jr.</option>
<option value="Dean, John W., III">Dean, John W., III</option>
<option value="Arends, Leslie C.">Arends, Leslie C.</option>
<option value="Kleindienst, Richard G.">Kleindienst, Richard G.</option>
<option value="Moorer, Thomas H. (Adm.)">Moorer, Thomas H. (Adm.)</option>
<option value="Rumsfeld, Donald H.">Rumsfeld, Donald H.</option>
<option value="Hodgson, James D.">Hodgson, James D.</option>
<option value="Griffin, Robert P.">Griffin, Robert P.</option>
<option value="Cook, Richard K.">Cook, Richard K.</option>
<option value="Burns, Arthur F.">Burns, Arthur F.</option>
<option value="Finch, Robert H.">Finch, Robert H.</option>
<option value="Kennedy, Richard T. (Col.)">Kennedy, Richard T. (Col.)</option>
<option value="Korologos, Thomas C.">Korologos, Thomas C.</option>
<option value="Brennan, Peter J.">Brennan, Peter J.</option>
<option value="Dent, Harry S.">Dent, Harry S.</option>
<option value="Dole, Robert J.">Dole, Robert J.</option>
<option value="Scali, John A.">Scali, John A.</option>
<option value="Malek, Frederic V.">Malek, Frederic V.</option>
<option value="Ash, Roy L.">Ash, Roy L.</option>
<option value="McCracken, Paul W.">McCracken, Paul W.</option>
<option value="Cabinet officers">Cabinet officers</option>
<option value="Andrews, John K., Jr.">Andrews, John K., Jr.</option>
<option value="Morton, Rogers C. B.">Morton, Rogers C. B.</option>
<option value="Romney, George W.">Romney, George W.</option>
<option value="Garment, Leonard">Garment, Leonard</option>
<option value="Moore, Richard A.">Moore, Richard A.</option>
<option value="Mansfield, Michael J. (&quot;Mike&quot;)">Mansfield, Michael J. (&quot;Mike&quot;)</option>
<option value="Brennan, John V.">Brennan, John V.</option>
<option value="Hardin, Clifford M.">Hardin, Clifford M.</option>
<option value="Tkach, Walter R.">Tkach, Walter R.</option>
<option value="Stans, Maurice H.">Stans, Maurice H.</option>
<option value="Volpe, John A.">Volpe, John A.</option>
<option value="Krogh, Egil (&quot;Bud&quot;), Jr.">Krogh, Egil (&quot;Bud&quot;), Jr.</option>
<option value="Higby, Lawrence M.">Higby, Lawrence M.</option>
<option value="Butz, Earl L.">Butz, Earl L.</option>
<option value="Harlow, Bryce N.">Harlow, Bryce N.</option>
<option value="Yates, Nellie L.">Yates, Nellie L.</option>
<option value="Whitaker, John C.">Whitaker, John C.</option>
<option value="Hughes, James D. (&quot;Don&quot;)">Hughes, James D. (&quot;Don&quot;)</option>
<option value="Petersen, Henry E.">Petersen, Henry E.</option>
<option value="Cashen, Henry C., II">Cashen, Henry C., II</option>
<option value="Rockefeller, Nelson A.">Rockefeller, Nelson A.</option>
<option value="Warren, Gerald L.">Warren, Gerald L.</option>
<option value="Tower, John G.">Tower, John G.</option>
<option value="Dobrynin, Anatoliy F.">Dobrynin, Anatoliy F.</option>
<option value="Stennis, John C.">Stennis, John C.</option>
<option value="Conable, Barber B., Jr.">Conable, Barber B., Jr.</option>
<option value="Helms, Richard M.">Helms, Richard M.</option>
<option value="Nidecker, John E.">Nidecker, John E.</option>
<option value="Devine, Samuel L.">Devine, Samuel L.</option>
<option value="Rhodes, John J.">Rhodes, John J.</option>
<option value="Chapin, Dwight L.">Chapin, Dwight L.</option>
<option value="Friedersdorf, Max L.">Friedersdorf, Max L.</option>
<option value="Sonnenfeldt, Helmut (&quot;Hal&quot;)">Sonnenfeldt, Helmut (&quot;Hal&quot;)</option>
<option value="Armstrong, Anne L.">Armstrong, Anne L.</option>
<option value="Lynn, James T.">Lynn, James T.</option>
<option value="Brown, Robert J.">Brown, Robert J.</option>
<option value="Lincoln, George A. (Gen.)">Lincoln, George A. (Gen.)</option>
<option value="Wilson, Robert C. (&quot;Bob&quot;)">Wilson, Robert C. (&quot;Bob&quot;)</option>
<option value="Graham, William F. (&quot;Billy&quot;)">Graham, William F. (&quot;Billy&quot;)</option>
<option value="Anderson, John B.">Anderson, John B.</option>
<option value="Bennett, Wallace F.">Bennett, Wallace F.</option>
<option value="Smith, Margaret Chase">Smith, Margaret Chase</option>
<option value="Cotton, Norris">Cotton, Norris</option>
<option value="Mills, Wilbur D.">Mills, Wilbur D.</option>
<option value="Cavanaugh, James H.">Cavanaugh, James H.</option>
<option value="Poff, Richard H.">Poff, Richard H.</option>
<option value="Albert, Carl B.">Albert, Carl B.</option>
<option value="Parker, David N.">Parker, David N.</option>
<option value="Monzon, Zosimo T.">Monzon, Zosimo T.</option>
<option value="Kennedy, David M.">Kennedy, David M.</option>
<option value="Cox, Edward R. F.">Cox, Edward R. F.</option>
<option value="Young, Milton R.">Young, Milton R.</option>
<option value="David, Edward E., Jr. (Dr.)">David, Edward E., Jr. (Dr.)</option>
<option value="Mahon, George H.">Mahon, George H.</option>
<option value="Allott, Gordon L.">Allott, Gordon L.</option>
<option value="Rush, [David] Kenneth">Rush, [David] Kenneth</option>
<option value="Dunlop, John T.">Dunlop, John T.</option>
<option value="Meany, George">Meany, George</option>
<option value="Lewis, Hobart D.">Lewis, Hobart D.</option>
<option value="Hébert, F. Edward">Hébert, F. Edward</option>
<option value="Campbell, J. Philip">Campbell, J. Philip</option>
<option value="Goode, Mark I.">Goode, Mark I.</option>
<option value="Shepard, Geoffrey C.">Shepard, Geoffrey C.</option>
<option value="Morgan, Edward L.">Morgan, Edward L.</option>
<option value="Goldwater, Barry M.">Goldwater, Barry M.</option>
<option value="Byrnes, John W.">Byrnes, John W.</option>
<option value="Hoopes, David C.">Hoopes, David C.</option>
<option value="Dominick, Peter H.">Dominick, Peter H.</option>
<option value="Hart, Thomas">Hart, Thomas</option>
<option value="Irwin, John N., II">Irwin, John N., II</option>
<option value="Packard, David">Packard, David</option>
<option value="Beckman, Bill">Beckman, Bill</option>
<option value="Bell, George T.">Bell, George T.</option>
<option value="Weber, Arnold R.">Weber, Arnold R.</option>
<option value="Aiken, George D.">Aiken, George D.</option>
<option value="Byrd, Robert C.">Byrd, Robert C.</option>
<option value="Reagan, Ronald W.">Reagan, Ronald W.</option>
<option value="BeLieu, Kenneth E.">BeLieu, Kenneth E.</option>
<option value="Keyes, Paul W.">Keyes, Paul W.</option>
<option value="Schlesinger, James R. (Dr.)">Schlesinger, James R. (Dr.)</option>
<option value="Bow, Frank T.">Bow, Frank T.</option>
<option value="Smith, Gerard C.">Smith, Gerard C.</option>
<option value="Smith, H. Allen">Smith, H. Allen</option>
<option value="Sohmer, Arthur J.">Sohmer, Arthur J.</option>
<option value="Fulbright, J. William">Fulbright, J. William</option>
<option value="Hoover, J. Edgar">Hoover, J. Edgar</option>
<option value="Walker, Charls E.">Walker, Charls E.</option>
<option value="Usery, Willie J., Jr.">Usery, Willie J., Jr.</option>
<option value="Dent, Frederick B.">Dent, Frederick B.</option>
<option value="Allen, George E.">Allen, George E.</option>
<option value="Eisenhower, [Dwight] David, II">Eisenhower, [Dwight] David, II</option>
<option value="Knauer, Virginia H.">Knauer, Virginia H.</option>
<option value="Brinegar, Claude S.">Brinegar, Claude S.</option>
<option value="Miller, Jack R.">Miller, Jack R.</option>
<option value="Hirsch, William">Hirsch, William</option>
<option value="Baker, Howard H., Jr.">Baker, Howard H., Jr.</option>
<option value="Burger, Warren E.">Burger, Warren E.</option>
<option value="Johnson, U. Alexis">Johnson, U. Alexis</option>
<option value="O'Neill, Thomas P. (&quot;Tip&quot;), Jr.">O'Neill, Thomas P. (&quot;Tip&quot;), Jr.</option>
<option value="Fitzsimmons, Frank E.">Fitzsimmons, Frank E.</option>
<option value="Connally, Idanell (Brill) (Nellie)">Connally, Idanell (Brill) (Nellie)</option>
<option value="Scott, Stanley S.">Scott, Stanley S.</option>
<option value="Howard, W. Rick">Howard, W. Rick</option>
<option value="Waggonner, Joe D., Jr.">Waggonner, Joe D., Jr.</option>
<option value="National Security Council">National Security Council</option>
<option value="Rhatican, William F.">Rhatican, William F.</option>
<option value="Silberman, Laurence H.">Silberman, Laurence H.</option>
<option value="Long, Russell B.">Long, Russell B.</option>
<option value="Lukash, William M.">Lukash, William M.</option>
<option value="Walters, Vernon A.">Walters, Vernon A.</option>
<option value="Blount, Winton M. (&quot;Red&quot;), Jr.">Blount, Winton M. (&quot;Red&quot;), Jr.</option>
<option value="Stafford, Robert T.">Stafford, Robert T.</option>
<option value="Clawson, Kenneth W.">Clawson, Kenneth W.</option>
<option value="Veneman, John G.">Veneman, John G.</option>
<option value="Gifford, William L.">Gifford, William L.</option>
<option value="McClellan, John L.">McClellan, John L.</option>
<option value="Mailliard, William S.">Mailliard, William S.</option>
<option value="Harper, Edwin L.">Harper, Edwin L.</option>
<option value="Javits, Jacob K.">Javits, Jacob K.</option>
<option value="Carruthers, William H.">Carruthers, William H.</option>
<option value="Baroody, William J., Jr.">Baroody, William J., Jr.</option>
<option value="Solomon, Ezra">Solomon, Ezra</option>
<option value="Boggs, [Thomas] Hale">Boggs, [Thomas] Hale</option>
<option value="Johnson, Donald E.">Johnson, Donald E.</option>
</select>
