body {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  font: 17px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title-top {
  font: 22px Helvetica, Arial, sans-serif;
  text-align: center;
}

#search {
  color: grey;
  text-align: center;
  font: 18px Helvetica, Arial, sans-serif;
}

#list {
  color: grey;
  text-align: left;
  font: 18px Helvetica, Arial, sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #00B7FF;
    color: white;
}
