body {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  font: 17px Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

#title-top {
  font: 22px Helvetica, Arial, sans-serif;
  text-align: center;
}

#search {
  color: grey;
  text-align: center;
  font: 18px Helvetica, Arial, sans-serif;
}

#list {
  color: grey;
  text-align: left;
  font: 18px Helvetica, Arial, sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #00B7FF;
    color: white;
}

audio {
  width: 100%;
  max-width: 640px;
}

@media (max-width: 900px) {
  body {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
    font: 16px Helvetica, Arial, sans-serif;
  }

  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }

  #search input[type="text"],
  #search input[type="number"] {
    display: block;
    width: 100%;
    margin: 8px 0;
  }

  pre {
    white-space: pre-wrap;
    word-break: break-word;
  }

}
